<h2>Products List</h2>
<p>sudden {{someStrangeProperty}}</p>
<ul>
  {{#each controller}}
    <h2>{{#link-to "product" this}} [{{price}} usd] {{title}}{{/link-to}}</h2>
    <p>{{description}}</p>
  {{/each}}
</ul>