{{#if hasReviews }}
  <h3>Reviews</h3>

  <ul class="list-unstyled">
    {{#each}}
      <li>[{{reviewedAt}}] - {{text}}</li>
    {{/each}}
  </ul>
{{else}}
  <h4>No review yet, live one</h4>
{{/if}}
