html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.page {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  flex: 1 0 auto;
}
