html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.page {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  flex: 1 0 auto;
}

.is-on-sale h2:after {
  content: 'on sale';
  display: inline-block;
  background: lightgreen;
  margin: 0 0 0 3px;
  font-size: 50%;
  padding: 3px;
}
