<header class="navbar navbar-default">

    <div class="col-sm-12">
      {{#link-to "index" class="navbar-brand"}}
        Home
      {{/link-to}}
      <ul class='nav navbar-nav navbar-right'>
        <li>
          {{#link-to "products"}}products{{/link-to}}
        </li>
        <li>
          {{#link-to "about"}}about{{/link-to}}
        </li>
      </ul>
    </div>

</header>

<main class=" main">
  <div class="col-sm-12">
    {{outlet}}
  </div>
</main>

<footer class="panel-footer">

    <div class="col-sm-12">
      Today: {{time}}
    </div>

</footer>
